.skill{
    min-width: 300px;
    background-color: #4671D5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skillProgress{
    ackground-color: #e9ecef;
    border-radius: 0.25rem;
    display: flex;
    font-size: .75rem;
    height: 1rem;
    overflow: hidden;
}
.skillProgressBlock {
    background-color: #007bff;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition: width .6s ease;
}
