.projectsBlock {
    min-height: 100vh;
    background-color: #212529;
    color: #fff;
    display: flex;
    align-items: center;
}

.projectsBlockContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.block {
    width: 100%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width: 799px) {
    .block{
        justify-content: center;
    }
}