.skillsBlock {
    min-height: 100vh;
    background-color: #6C8CD5;
}

.skillsBlockContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.block {
    border: 1px solid black;
    width: 100%;
    display: flex;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blockSkills{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}